*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0 !important;
}
.navbarbig {
    margin-bottom: 100px;
}
.pp {
    color: blue;
}
.PT {
    margin-top: 100px;
}

.footer-p {
    width: 330px;
}
.footer-p1 {
    width: 260px;
}
.input-width {
    width: 100%;
    border: none;
    border-radius: 16px;
    padding: 16px ;
}
.buttonn {
    border: none;
    border-radius: 16px;
    padding: 16px 30px ;
}
.formdiv1 {
    margin-top: 20px;
    width: 400px;
    position: relative;
}
.formdiv {
    width: 400px;
    position: relative;
}
form button {
    position:absolute;
    right: 0;
}
.cardsize {
    font-size: 22px;
}
.text-regular {
    font-size: 22px;
    line-height: 35px;
}
.tittle-regualr {
    font-size: 38px;
    line-height: 45px;
}
.link-a span {
    font-size: 16px;
}
.link-a div {
    border-radius: 20px;
}

/* cards start */
.cardsMenu {
    gap: 20px;
    display: grid;
    grid-template: auto / auto auto auto auto;
}
.card1 {
    position: relative;
    border-radius: 20px;
    background: #3B3B3B;
    padding:30px 25px;
    text-align: center;
    display: block;
}
.userDescription {
    margin-bottom: 0!important;
    margin-top: 4px;
    color: #858584;
    font-family: 'Rubik-regular';
}
.userDescriptionInfo{
    color: white;
    font-family: 'Rubik-regular';
}
.cardImg {
    width: 120px;
    height: 120px;
}
.userName {
    margin-top: 10px;
    margin-bottom: 0!important;
    font-family: 'Rubik-bold';
    font-size: 22px;
    padding: 5px 0 0 0;
    color: white;
}
.cardNumber {
    color: #858584;
    background: #2B2B2B;
    border-radius: 100%;
    /* padding: 6px 14px ; */
    width: 30px;
    height: 30px;
    padding-top: 3px;
    display: inline-block;
    font-family: 'Rubik-regular';
    position: absolute;
    top: 15px;
    left: 15px;
}
.cardNumber1 {
    color: #858584;
    background: #2B2B2B;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    /* padding: 6px 11px; */
    display: inline-block;
    font-family: 'Rubik-regular';
    position: absolute;
    top: 15px;
    left: 15px;
}
/* cards end */

/* cards start */
.cards{
    margin-top: 40px;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template: auto / auto auto auto auto;
}
.card2 {
    width: 100%;
    display: inline-block;
    background: #3B3B3B;
    border-radius: 20px;
}
.firstType {
    padding: 20px;
    color: white;
    font-family: 'Rubik-semibold';
    font-size: 22px;
}
.cardsImg {
    height: 100%;
    width: 100%;
}
/* cards end */
.rowww {
    display: grid;
    gap: 20px;
    grid-template: auto /auto auto auto;
}
.rowss {
    gap: 20px;
    display: grid;
    grid-template: auto / auto auto auto;
}
.p11 {
    font-size: 24px;
}
.cardsp {
    font-size: 44px;
}
.carddimg {
    width: 50%;
}
.carddimg {
    width: 50%;
}
.carddinfo {
    width: 50%;
}
.header-tittle {
    line-height: 73px !important;
    font-size: 70px;
    color: white;
    font-family: 'Rubik-semibold';
}
.header-half {
    width: 47%;
}
.header-half2 {
    width: 47%;
}
.text-descr {
    font-size: 22px;
    line-height: 35px;
}
.header-number {
    font-size: 28px;
    margin-bottom: 0 !important;
}
header{
    margin-bottom: 65px;
}
.header-infor {
    max-width: 400px;
}
.createheader{
    width: 48%;
}
.createheader1{
    width: 48%;
}
.createheader img {
    height: 100vh;
}
.inputs {
    max-width: 400px;
}
.inputs1 {
    max-width: 320px;
}

@media screen and (max-width:768px) {
    header{
        margin-bottom: 35px;
    }
    .carddimg {
        width: 100%;
    }
    .carddinfo {
        width: 100%;
    }
    form .button1 {
        position:static;
        margin-top: 10px;
        width: 100%;
    }
    .header-half {
        width: 100%;
    }
    .header-half2 {
        width: 100%;
    }
    .header-half2 img {
        height: 300px;
    }
    .inputs {
        max-width:100%;
    }
    .inputs1 {
        max-width:100%;
    }
    .createheader{
        width:100%;
    }
    .createheader1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .createheader img {
        height: 40vh;
        margin-bottom: 10px;
    }
    .header-create {
        height: 100%;
    }
}
@media screen and (max-width:992px) {
    .navbarbig {
        margin-bottom: 56px;
    }
    .firstType {
        font-size: 16px;
    }
    .footer-p { 
        width: 100%;
    }
    .footer-p1 { 
        width: 100%;
    }
    .cardsize {
        font-size: 20px;
    }
    .text-regular {
        font-size: 14px;
        line-height: 22px;
    }
    .link-a span {
        font-size: 14px;
    } 
    .link-a div {
        border-radius: 14px;
    }
    .cardsMenu {
        display: grid;
        grid-template: auto / auto auto;
    }
    .cardImg {
        width: 80px;
        height: 80px;
    }
    .cardsImg {
        width:100%;
    }
    .cards{
        display: grid;
        grid-template: auto / auto auto;
    }
    .rowss {
        display: grid;
        grid-template: auto / auto;
    }
    .rowss img {
        width: 95px;
        height: 95px;
    }
    .p11 {
        font-size: 18px;
    }
    .p2 {
        font-size: 14px;
    }
    .cardsp {
        font-size: 28px;
    }
    .formdiv1 {
        margin-top: 20px;
        width: 100%;
        position: relative;
    }
    .header-tittle {
        font-size: 38px;
        line-height: 45px !important;
    }
    .text-descr {
        font-size: 16px;
        line-height: 22px;
    }
    
.header-number {
    font-size: 22px;
    
}
}
@media screen and (max-width:576px) {
    
    .tittle-regualr {
        font-size: 28px;
        line-height: 39px;
    }
    .cardsMenu {
        display: grid;
        grid-template: auto / auto;
    }
    .card1 {
        border-radius: 20px;
        text-align: start;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .cardImg {
        width: 60px;
        height: 60px;
    }
    .userName {
        margin-top: 0;
        padding:0;
    }
    .cardsize {
        font-size: 16px;
    }
    .input-width {
    padding: 10px 16px;
    border-radius: 50px;
}
.buttonn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
}
.formdiv1{
    width: 100%;
}
.formdiv{
    width: 100%;
}
form button {
    position:static;
    margin-top: 10px;
}
.cardNumber {
    color: #858584;
    background: #2B2B2B;
    border-radius: 100%;
    /* padding: 6px 14px ; */
    width: 30px;
    height: 30px;
    padding-top: 3px;
    display: inline-block;
    font-family: 'Rubik-regular';
    position: absolute;
    top: 20px;
    text-align: center;
    left: 15px;
}
.cardNumber1 {
    color: #858584;
    background: #2B2B2B;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 3px;
    /* padding: 6px 11px; */
    display: inline-block;
    font-family: 'Rubik-regular';
    position: absolute;
    top: 20px;
    text-align: center;
    left: 15px;
}
.rowww {
    display: grid;
    gap: 20px;
    grid-template: auto /auto;
}
.header-tittle {
    font-size: 28px;
    line-height: 39px !important;
}
}