/* ibrohim csc */

.nav-link {
    background: #E5E5E7; 
}

.nav-link:hover {
    color: white;
}
.head-text {
    margin-left: 0 !important;
}

.swiper-slide {
    position: relative;
}
.purple-btn {
    margin-top: 0 !important;
}
.btn20 {
    margin-left: 20px;  
}
.img-img {
    height: 89vh;
    padding-left:20px ;
}
.mask__button{
  padding: 8px;  
}
@media screen and (max-width:569px) {
    .btn20 {
        margin-left: 0;
    }
    .img-img {
        height: 89vh;
        padding-left:0;
    }
}



